*{
    font-family: "Copperplate", 'Courier New', Courier, monospace;
    
}
.wrapper{
    width: 100%;
}
ul li{
list-style: none;
}
.recipes_list ul li{
    display: inline-block;
    padding: 20px;
    margin: 5px;
    vertical-align: baseline;
}
.recipes_list ul li a, .home_link a{
    text-decoration: none;
    color: #ff0000;
    padding: 10px;
    font-size: 16px;
    width: max-content;
}
.home_link a{
    display: block;
    width: 100px;
    margin-right: auto;
    font-size: 36px;

}
.header_recipes {
    display: inline-block;
    padding: 10px 0px;
    vertical-align: baseline;
}
.header_recipes img{
    display: inline-block;
    vertical-align: middle;
}
.recipes_list {
display: inline-block;
margin-left: 0px;
}
.recipes_list ul{
    padding: 0px;
}
.recipe_item {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.recipe_item h1{
    font-size: 54px;
    padding: 10px;
}
.columns{
width: 100%;
display: inline-block;
margin: 0 auto;
}
.first_column,.second_column{
    padding: 20px;
    display: inline-block;
    width: 400px;
    vertical-align: top;
}
.first_column{
    margin-left: 150px;
    margin-right: 80px;
}
.columns h2{
border-top: 3px  dotted red;
}